.rowClocks {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-evenly !important;
  align-items: center !important;
  width: 100% !important;
  height: 97vh !important;

}





#buyClock {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

#buyClock h1 {
  color: rgb(0, 179, 0);
  font-size: 1.8rem;
}

#sellClock {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

#sellClock h1 {
  color: rgb(179, 0, 0);
  font-size: 1.8rem;
}